WORKOPS_COGNITO_ISSUER_URI=https://cognito-idp.ap-northeast-1.amazonaws.com/ap-northeast-1_xxxxxxxxx
WORKOPS_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
WORKOPS_COGNITO_REDIRECT_URI=http://localhost:8080/login/oauth2/code/cognito
WORKOPS_LOCAL_COGNITO_SUB=00000000-0000-0000-0000-000000000003
