AWS_REGION=ap-northeast-1
WORKOPS_COGNITO_USER_POOL_ID=ap-northeast-1_xxxxxxxxx
WORKOPS_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
WORKOPS_COGNITO_REDIRECT_URI=http://localhost:8080/login/oauth2/code/cognito
WORKOPS_LOCAL_COGNITO_SUB=00000000-0000-0000-0000-000000000003
